@use 'variables';
@use 'mixins';



.logo1{
    @include mixins.default-grid;
    place-self: center center;
    cursor: pointer;
    grid-column: 2/3;
    

    &:hover .logo1__image{
        transform: rotate(270deg);
    }

    &:hover .logo1__bar_vertical{
        background-color: #39cadb;
    }

    &:hover .logo1__bar_horizontal{   
        background-color: #e906f2;
    }

    &:hover .logo1__name{
        color: #39cadb;
        border-top: 2px #e906f2 solid;
        border-bottom: 2px #e906f2 solid;
    }


    &__image{
        width: 7.35rem;
        height: 7.35rem;
        display: flex;
        justify-content: space-between;
        position: relative;
        transition: transform 0.5s ease-in-out;
    }

    &__bar{
        transition: background-color 0.5s ease-in-out;

        &_vertical{
            width: 4px;
            height: 100%;
            background-color: #e906f2;
        }

        &_horizontal{
            width: 100%;
            height: 4px;
            background-color: #39cadb;
        }
    }


    &__circle{
        position: absolute;
        left: 50%;
        top: 50%;
        width: 60%;
        height: 60%;
        background: whitesmoke;
        border-radius: 999rem;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        overflow: clip;
    }

    &__name{
        text-align: center;
        font-size: 1.75rem;
        margin-top: 0.5rem;
        border-top: 0px #39cadb solid;
        border-bottom: 0px #39cadb solid;
        transition: all 0.5s ease-in-out;
        font-family: 'Yellowtail', cursive;
    }
}

.logo2{
    @include mixins.default-grid;
    place-self: center center;
    font-family: 'Audiowide', cursive;
    cursor: pointer;
    grid-column: 3/4;

    &:hover .logo2__name{
        color: #39cadb;
    }

    &__image{
        font-size: 8.3rem;
        text-align: center;
        background: linear-gradient(#39cadb, #e906f2);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__name{
        text-align: center;
        font-size: 1.3rem;
        color: #e906f2;
        transition: all 0.4s ease-in-out;
    }


}